<div class="center jumbotron">

  <h1>Welcome to Chitter</h1>
  <p>
    This is the work in progress homepage!
  </p>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>


<input id="logo" type="image" src="images/chitter.png" />
