<footer class="footer">
  <small>
    created by <a href="https://github.com/TY231618">Tony Young</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>
